@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.highlight {
  background-color: yellow;
  font-weight: bold;
  border-radius: 2px;
  padding: 0 2px;
}

.highlighted-content {
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
